
body{
  text-align: center;
  font-family: Helvetica;
}

nav{
  background-image: url("/Users/kennethramirezcastro/Broadway/resources/images/the-flatiron-building.png");
}

a{
  color: White;
  font-size: 18px;
}

.header{
  font-size: 70px;
  font-weight: bold;
  color: White;
}
